html, body {
    margin: 0px;
    height: 100vh;
    display: grid;
    padding: 0;
    margin: 0;
    row-gap: 0;
    grid-template-rows: min-content min-content min-content auto min-content;
}

body > div {
    padding: 0;
    margin: 0;
}

div.header, div.footer {
    background-color: #DB3A34;
    align-items: start;
}
h1 {
    padding-left: 1em;
}
div.toolbar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #E45E3D;
}
div.toolbar > button {
    font-weight: bold;
    padding: 0.5em;
    font-size: large;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    background-color: #E45E3D;
    border: #E45E3D inset thick;

}
div.toolbar > button:hover {
    background-color: #FFC857;
    border: #FFC857 inset thick
}

div.toolbar > button.pressed {
    background-color: #DB3A34;
    border: #DB3A34 outset thick;
}

h1, p, a {
    margin: 0px;
    color: #323031;
}
body {
    background-color: #FFC857;
}
#fileinput {
    margin: 3px;
    padding-left: 1em;

    display: grid;
    justify-content: center;
    align-items: center;
    
    max-height: fit-content;
}
#legendLine {
    display: flex;
    flex-wrap: wrap;
    border: #323031 thick double;
    justify-content: center;
    height: 1em;
    border-top: none;
}

.toggleButtonRow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.toggleButtonRow > button {
    flex-grow: 1;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#graphdiv {
    display: grid;
    width: 80% !important;
    height: auto !important;
    justify-self: center;
    justify-content: center;
    align-items: start;
    margin: 5px;
}

#graphLeftButtons, #statsLeftButtons {
    width: 20%;
}
#graphRightButtons, #statsRightButtons {
    width: 20%;
}
#legendDiv {
    width: 0%;
}

select#title-dropdown {
    background: #084C61;
    padding: 3px;
    color: #D7D5D6;
    border: #323031 medium double;
    box-shadow: black 2px 2px;
    font-weight: 900;
    margin: 3px;
}
select#title-dropdown:hover {
    background: #177E89;
}
input#UploadFile {
    background: #E45E3D;
    margin: 3px;
    padding: 3px;
    border-radius: 3px;
    box-shadow: black 2px 2px;
}


#graphdiv, #toggleButtons, #graphContainer {
    border: black thin double;
}

#graphLeftButtons > button {
    background-color: #E45E3D;
    border: #E45E3D outset;
    color: black;
    width: 50%;
    padding: 4px;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
  
#graphLeftButtons > button:hover {
    background-color: #f0f0f0;
}
  
#graphLeftButtons > button.pressed {
    border: #323031 inset !important;
    background-color: #323031 !important;
    color: white;
    box-shadow: 2px 2px 10px rgba(255, 0, 0, 0.5);
}

.radio {
    display: inline-flex;
    overflow: hidden;
    width:100%;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

}
.radio > input[type="radio"] {
    display: none;
}
.radio > label {
    padding: 4px;
    background: #177E89;
    border: #177E89 inset;
    border-radius: 5px;
    color: #D7D5D6;
    width: 50%;
}
.radio > label:not(:last-of-type) {
    margin-left: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.radio > label:is(:last-of-type) {
    margin-right: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.radio > input[type="radio"]:checked + label {
    color: black;
    background:#E45E3D;
    border: #E45E3D outset;
}
.buttonsTitle {
    font-weight: bold;
    font-size: large;
    width: 100%;
    background-color: #DB3A34;
    margin-top: 4px;
    box-sizing: border-box;
    border: double thick #323031;
}
.buttonsTitle > p {
    padding-left: 4px;
}


